
H1 {font-size: 400%;}
H1 {font-family: comic sans;}
H2 {font-size: 222%;}
Body {background-color: #AEADF7;}
Body {color: #2874A6;}
P {font-size: 124%;}
P2 {font-size: 124%;}
P3 {font-size: 80%;}
Footer {color: #3E540B;}

	.bio {
	  background-color: #B9F1D0;
	  color: #0A3018;
	  padding: 20px;